In [7]:
import pandas as pd
import numpy as np
_2017_data = pd.read_csv("2017_data.csv")
_2017_data["Year"] = "2017"
_2016_data = pd.read_csv("2016_data.csv")
_2016_data["Year"] = "2016"
_2015_data = pd.read_csv("2015_data.csv")
_2015_data["Year"] = "2015"
_2014_data = pd.read_csv("2014_data.csv")
_2014_data["Year"] = "2014"
_2013_data = pd.read_csv("2013_data.csv")
_2013_data["Year"] = "2013"

_2016_data.head()

,Name,Department,Title,Salary,Year
0,"A'Hearn, Michael F.",CMNS-Astronomy,Res Prof,"$155,925.01",2016
1,"Aarhus, William H",SVPAAP-Teaching and Learning Transformation Ce...,Manager,"$75,000.00",2016
2,"Abadir, Miranda",ARHU-National Foreign Language Center,Fac Res Asst,"$78,810.37",2016
3,"Abasi, Ali Reza","ARHU-School of Languages, Literatures, and Cul...",Assoc Prof,"$75,005.26",2016
4,"Abban, Kofi",VPSA-Transportation Services,MT Maint Aide II,"$29,065.00",2016