In [278]:
import pandas as pd
import numpy as np
pd.set_option('max_rows', 30)
# Grabbing each year's data and storing it in a pandas frame
df_17 = pd.read_csv("2017_data.csv")
# Creating a Year column to each dataset
df_17["Year"] = "2017"
# Dropping all nans
df_17.dropna(axis=0, how='any', inplace=True)

# Dropped a non academic dept - necessary in order to split by '-'
df_17 = df_17[df_17.Department != "Office of Inst Research, Planning & Assessment"]

#Split Department column into 2 columns - School and Department 
df_17 = df_17.assign(School= df_17.Department.apply(lambda x: x.split("-",1)[0]))
df_17 = df_17.assign(Dept= df_17.Department.apply(lambda x: x.split("-",1)[1]))

#Dropping department column
df_17.drop('Department',axis=1,inplace=True)

#Converting salary to float
df_17 = df_17.assign(Salary = df_17.Salary.apply(lambda x: float(x[1:].replace(',',''))))
df_17.reset_index(drop=True, inplace=True)

# View all unique departments
all_departments = df_17.School.unique()
all_depts = np.sort(all_departments)
all_depts

array(['AGNR', 'ARCH', 'ARHU', 'BMGT', 'BSOS', 'CMNS', 'DIT', 'EDUC',
       'ENGR', 'EXST', 'GRAD', 'INFO', 'JOUR', 'LIBR', 'PLCY', 'PRES',
       'SPHL', 'SVPAAP', 'UGST', 'USG', 'VPAF', 'VPR', 'VPSA', 'VPUR'], dtype=object)

In [279]:
#Keep academic departments only 
#Drop DIT, EXST (extended studies), GRAD, LIBR, PRES, SVPAAP, UGST, USG, VPAF, VPR, VPSA, VPUR 
to_drop = ["DIT", "EXST" ,"GRAD" ,"LIBR" ,"PRES","SVPAAP" ,"UGST" ,"USG" ,"VPAF" , "VPR" ,"VPSA", "VPUR"]
df_17 = df_17[~df_17.School.isin(to_drop)]
depts = np.sort((df_17.School).unique())
depts

array(['AGNR', 'ARCH', 'ARHU', 'BMGT', 'BSOS', 'CMNS', 'EDUC', 'ENGR',
       'INFO', 'JOUR', 'PLCY', 'SPHL'], dtype=object)

In [280]:
#sort dataframe by school
df_17.sort_values('School', inplace=True)
df_17.reset_index(drop=True, inplace=True)
df_17.head()

,Name,Title,Salary,Year,School,Dept
0,"Owen, Navonne M.",Agent Assoc,43131.46,2017,AGNR,UME-East Region
1,"Porcella, Kathleen",Ext Prog Asst,39200.52,2017,AGNR,UME-East Region
2,"Hollar, Amy",Agent Assoc,60000.00,2017,AGNR,UME-University of Maryland Extension
3,"Poet, Daniel E.",Agric Tech,48067.17,2017,AGNR,AES-Agriculture Experiment Station
4,"Chollet, Pamela Sue",Prog Mgmt Spec,44611.30,2017,AGNR,UME-East Region

In [281]:
#Viewing all titles
depts = np.sort((df_17.Title).unique())
depts

array(['Acad Adv', 'Acad Prog Spec', 'Accompanist', 'Account Clerk I',
       'Account Clerk II', 'Account Clerk III', 'Accountant',
       'Accountant I', 'Accounting Assoc', 'Adjunct Assoc Prof',
       'Adjunct Asst Prof', 'Adjunct Prof', 'Admin Asst I',
       'Admin Asst II', 'Administrator', 'Adv Consul', 'Advisor', 'Agent',
       'Agent Assoc', 'Agric Tech', 'Agric Tech Lead', 'Agric Tech Supv',
       'Agric Worker I', 'Agric Worker II', 'Analyst', 'Arch Tech I',
       'Asoc Prof &Assoc Dir', 'Assoc Clin Prof', 'Assoc Dean',
       'Assoc Dean & Assoc Director', 'Assoc Dir', 'Assoc Prof',
       'Assoc Prof & Assoc Dean', 'Assoc Prof & Dir', 'Assoc Prof &Chair',
       'Assoc Prof Assoc Chair', 'Assoc Prof Emeritus', 'Assoc Res Eng',
       'Assoc Res Prof', 'Assoc Res Scholar', 'Assoc Res Sci', 'Asst',
       'Asst Art-In-Res', 'Asst Clin Prof', 'Asst Dean', 'Asst Dean & Dir',
       'Asst Dir', 'Asst Editor', 'Asst Inst', 'Asst Mgr', 'Asst Prof',
       'Asst Prog Dir', 'Asst Res Eng', 'Asst Res Schl', 'Asst Res Sci',
       'Asst Rsch Prof', 'Asst to Dean', 'Asst to Dir', 'Auto Serv Mech',
       'Auto Shop Supv', 'Business Manager', 'Business Serv Spec',
       'CYC Teacher', 'Clin Prof', 'Clinic Coord',
       'College Park Professor', 'Comp Eng', 'Cont Admin', 'Coordinator',
       'Dev Ofc', 'Dir Admin Srv', 'Dir Development', 'Director',
       'Dist Univ Prof', 'Dist Univ Prof & Dir', 'Dist Univ Prof Chair',
       'Dist Univ Prof Emerita', 'Dist Unv Prof, Rgnts Prof, Dir',
       'Editorial Asst', 'Elect Tech III', 'Eng Phys', 'Eng Tech III',
       'Engineer', 'Exec Adm Asst I', 'Exec Adm Asst II', 'Exec Dir',
       'Ext Assoc', 'Ext Prog Asst', 'Fac Asst', 'Fac Ext Asst', 'Fac Mgr',
       'Fac Res Asst', 'Fac Spec', 'Food Serv Spec', 'Graph Art Design',
       'IT Admin & Plan Mgr', 'IT Coor', 'IT Network Engineer',
       'IT Op Mgr', 'IT Programmer I', 'IT Programmer II',
       'IT Sr. Network Engineer', 'IT Support Assoc', 'IT Support Asst',
       'IT Support Spec', 'IT Sys Analyst', 'IT Sys Mgr',
       'IT Sys Prog/Net Supp', 'Inst', 'Inst Designer', 'Jr Lecturer',
       'LAN Sys Admin', 'Lab Animal Tech', 'Lab Animal Tech Asst',
       'Lab Assistant', 'Lab Helper', 'Lab Res Tech', 'Lect & Dir',
       'Lecturer', 'MT Mlt Td Chf II', 'Manager', 'Multi media Asst',
       'Office Assistant', 'Office Clerk II', 'Office Supv I',
       'Phys Sci Tech I', 'Phys Sci Tech II', 'Phys Sci Tech III', 'Pilot',
       'Post-Doc Assoc', 'Prg Admin Spec', 'Prin Agent & Asst. Dir.',
       'Prin Agent & Dir', 'Prin Agent Assoc', 'Prin Fac Spec',
       'Prin Lecturer', 'Principal Agent', 'Prof', 'Prof & Act Assoc Dean',
       'Prof & Act Chair', 'Prof & Act Dir', 'Prof & Area Chair',
       'Prof & Assoc Chair', 'Prof & Assoc Dean', 'Prof & Assoc Dir',
       'Prof & Chair', 'Prof & Dir', 'Prof And Dean', 'Prof Emerita',
       'Prof Emeritus', 'Prof Of Practice', 'Prog Coor', 'Prog Mgmt Spec',
       'Program Dir', 'Programmer', 'Proj Dir', 'Proj Eng', 'Proj Mgr',
       'Res Analyst', 'Res Assoc', 'Res Coor', 'Res Eng', 'Res Prof',
       'Res Prof & Dir', 'Res Prof Emeritus', 'Res Schl', 'Res Sci',
       'Res Spec', 'Research Asst', 'Senior Lecturer', 'Specialist',
       'Sprv Tech Supp Srv', 'Sr Agent', 'Sr Agent & Dir',
       'Sr Agent Assoc', 'Sr Art-In Res', 'Sr Assoc Director',
       'Sr Fac Spec', 'Sr Res Eng', 'Sr Res Sci', 'Sr Writer',
       'Sr. Agent & Asst Dir', 'Storekeeper II', 'Storekeeper III',
       'Supervisor', 'Systems Analyst', 'Teaching Lab Tech', 'Tech Coor',
       'Tech Dir', 'Vis Res Engr', 'Visit Assoc Prof',
       'Visit Assoc Res Sci', 'Visit Asst Prof', 'Visit Asst Res Sci',
       'Visit Lecturer', 'Visit Prof', 'Visit Res Prof', 'Visit Res Sci',
       'Visit Sr Res Sci', 'Visiting Assoc Res Prof',
       'Visiting Asst Rsch Prof', 'Visiting Principal Faculty Spe',
       'Web Svcs Dev Sr', 'Web Svcs Developer'], dtype=object)

In [282]:
#Keep only teaching faculty 
to_keep = ['Adjunct Assoc Prof','Adjunct Asst Prof','Adjunct Prof',"Asoc Prof &Assoc Dir",
"Assoc Clin Prof","Assoc Dean","Assoc Dean & Assoc Director""Assoc Dir","Assoc Prof","Assoc Prof & Assoc Dean","Assoc Prof & Dir","Assoc Prof &Chair",
"Assoc Prof Assoc Chair","Assoc Prof Emeritus","Assoc Res Eng","Assoc Res Prof","Assoc Res Scholar","Assoc Res Sci","Asst Rsch Prof",
"Clin Prof","College Park Professor","Dist Univ Prof","Dist Univ Prof & Dir","Dist Univ Prof Chair","Dist Univ Prof Emerita","Dist Unv Prof, Rgnts Prof, Dir","Jr Lecturer",
"Lect & Dir","Lecturer","Post-Doc Assoc","Prin Lecturer","Prof","Prof & Act Assoc Dean","Prof & Act Chair","Prof & Act Dir","Prof & Area Chair","Prof & Assoc Chair",
"Prof & Assoc Dean","Prof & Assoc Dir","Prof & Chair","Prof & Dir","Prof And Dean","Prof Emerita","Prof Emeritus","Prof Of Practice",
"Res Prof","Res Prof & Dir","Res Prof Emeritus","Senior Lecturer","Visit Assoc Prof","Visit Asst Prof","Visit Lecturer","Visit Prof",
"Visit Res Prof","Visiting Assoc Res Prof","Visiting Asst Rsch Prof"]
#Drop row if the title is not in to keep
df_17 = df_17[df_17.Title.isin(to_keep)]
df_17 = df_17.reset_index(drop=True)
#Show depts kept
depts = np.sort((df_17.Title).unique())
depts

array(['Adjunct Assoc Prof', 'Adjunct Asst Prof', 'Adjunct Prof',
       'Asoc Prof &Assoc Dir', 'Assoc Clin Prof', 'Assoc Dean',
       'Assoc Prof', 'Assoc Prof & Assoc Dean', 'Assoc Prof & Dir',
       'Assoc Prof &Chair', 'Assoc Prof Assoc Chair',
       'Assoc Prof Emeritus', 'Assoc Res Eng', 'Assoc Res Prof',
       'Assoc Res Scholar', 'Assoc Res Sci', 'Asst Rsch Prof', 'Clin Prof',
       'College Park Professor', 'Dist Univ Prof', 'Dist Univ Prof & Dir',
       'Dist Univ Prof Chair', 'Dist Univ Prof Emerita',
       'Dist Unv Prof, Rgnts Prof, Dir', 'Jr Lecturer', 'Lect & Dir',
       'Lecturer', 'Post-Doc Assoc', 'Prin Lecturer', 'Prof',
       'Prof & Act Assoc Dean', 'Prof & Act Chair', 'Prof & Act Dir',
       'Prof & Area Chair', 'Prof & Assoc Chair', 'Prof & Assoc Dean',
       'Prof & Assoc Dir', 'Prof & Chair', 'Prof & Dir', 'Prof And Dean',
       'Prof Emerita', 'Prof Emeritus', 'Prof Of Practice', 'Res Prof',
       'Res Prof & Dir', 'Res Prof Emeritus', 'Senior Lecturer',
       'Visit Assoc Prof', 'Visit Asst Prof', 'Visit Lecturer',
       'Visit Prof', 'Visit Res Prof', 'Visiting Assoc Res Prof',
       'Visiting Asst Rsch Prof'], dtype=object)

In [297]:
# Sort by Schol, then Salary
df_17.sort_values(['School','Salary'], ascending=[True,False ],inplace=True)
df_17.reset_index(drop=True, inplace=True)
df_17

,Name,Title,Salary,Year,School,Dept
0,"Beyrouty, Craig",Prof And Dean,343374.97,2017,AGNR,College of Agriculture & Natural Resources
1,"Wei, Cheng-I",Prof & Dir,282197.66,2017,AGNR,College of Agriculture & Natural Resources
2,"Chambers, Robert G.",Prof,245190.00,2017,AGNR,Agricultural & Resource Economics
3,"Samal, Siba K.",Prof & Chair,230668.13,2017,AGNR,Veterinary Medicine Program
4,"Hanson, James C.",Prof & Chair,218461.98,2017,AGNR,Agricultural & Resource Economics
5,"Meng, Jianghong",Prof & Dir,212255.84,2017,AGNR,Nutrition and Food Science
6,"Bowerman, William W",Prof & Chair,210197.57,2017,AGNR,Environmental Science & Technology
7,"Williams, Roberton C III",Prof,197733.22,2017,AGNR,Agricultural & Resource Economics
8,"Murphy, Angus",Prof & Chair,197681.46,2017,AGNR,Plant Science & Landscape Architecture
9,"Shirmohammadi, Adel",Prof & Assoc Dean,196289.96,2017,AGNR,AES-Agriculture Experiment Station
10,"Alberini, Anna",Prof,187073.26,2017,AGNR,Agricultural & Resource Economics
11,"Stahl, Chad H",Prof & Chair,183899.99,2017,AGNR,Animal & Avian Sciences
12,"Jackson, Robert T.",Prof & Chair,178907.32,2017,AGNR,Nutrition and Food Science
13,"Lichtenberg, Erik",Prof,173104.65,2017,AGNR,Agricultural & Resource Economics
14,"Erdman, Richard A.",Prof,167541.45,2017,AGNR,Animal & Avian Sciences
...,...,...,...,...,...,...
3000,"Collier, Douglas Kurt",Lecturer,8693.45,2017,SPHL,Kinesiology
3001,"Rush, Laura A.",Lecturer,8693.45,2017,SPHL,Kinesiology
3002,"Goldstein, Rachel Elizabeth Rosenberg",Asst Rsch Prof,8000.00,2017,SPHL,MD Institute for Applied Environmental Health
3003,"Phillips, Jennie A",Lect & Dir,7231.29,2017,SPHL,Kinesiology
3004,"Contee, Anne A.",Lecturer,6264.00,2017,SPHL,Kinesiology
3005,"Henkel, Timothy Andrew",Lecturer,5796.00,2017,SPHL,Kinesiology
3006,"Cobb, Jodi Lynn",Lecturer,5697.81,2017,SPHL,Family Science
3007,"Wilcox, Wendy J",Lecturer,5697.81,2017,SPHL,Family Science
3008,"Blair-Brown, Merlene",Lecturer,5697.81,2017,SPHL,Family Science
3009,"Bernards, Reena",Lecturer,5697.81,2017,SPHL,Family Science
3010,"Livelsberger, Brian Patrick",Lecturer,5317.95,2017,SPHL,Family Science
3011,"Scheiner, Ann Caroline",Lecturer,5317.95,2017,SPHL,Family Science
3012,"Caruana, Julia",Lecturer,5222.99,2017,SPHL,Family Science
3013,"Sterner, Emily Rose",Lecturer,2898.00,2017,SPHL,Kinesiology
3014,"Mateik, Alexander S",Lecturer,2897.82,2017,SPHL,Kinesiology

In [301]:
#Highest paid people overall
df_17.sort_values(['Salary'], ascending=[False ],inplace=True)
df_17.reset_index(drop=True, inplace=True)
df_17.head(20)

,Name,Title,Salary,Year,School,Dept
0,"Das Sarma, Sankar",Dist Univ Prof & Dir,411978.92,2017,CMNS,Physics
1,"Maksimovic, Vojislav",Prof & Area Chair,408038.69,2017,BMGT,Finance
2,"Wedel, Michel",Dist Univ Prof,398688.68,2017,BMGT,Marketing
3,"Triantis, Alexander J.",Prof And Dean,394017.29,2017,BMGT,Robert H. Smith School of Business
4,"Fox, Nathan A.",Dist Univ Prof,393091.00,2017,EDUC,Human Development and Quantitative Methodology
5,"Rust, Roland T.",Dist Univ Prof,391907.75,2017,BMGT,Marketing
6,"Tronetti, Rajshree Agarwal",Prof,387850.00,2017,BMGT,Management & Organization
7,"Monroe, Christopher",Dist Univ Prof,387730.33,2017,CMNS,Physics
8,"Banavar, Jayanth R.",Prof And Dean,378750.00,2017,CMNS,"College of Computer, Math & Natural Sciences"
9,"Kyle, Albert S.",Prof,356028.59,2017,BMGT,Finance
10,"Bakshi, Gurdip S.",Prof,353661.52,2017,BMGT,Finance
11,"Golden, Bruce L.",Prof,351772.93,2017,BMGT,"Decision, Operations & Information Technologies"
12,"Lushniak, Boris D",Prof And Dean,350000.00,2017,SPHL,School of Public Health
13,"Beyrouty, Craig",Prof And Dean,343374.97,2017,AGNR,College of Agriculture & Natural Resources
14,"Gates, Sylvester James JR","Dist Unv Prof, Rgnts Prof, Dir",339254.78,2017,CMNS,Physics
15,"Pines, Darryll J.",Prof And Dean,336929.00,2017,ENGR,A. James Clark School of Engineering
16,"Cropper, Maureen L.",Dist Univ Prof Chair,328552.32,2017,BSOS,Economics
17,"Sundrum, Raman",Dist Univ Prof,321135.50,2017,CMNS,Physics
18,"Haltiwanger, John C.",Dist Univ Prof,320000.00,2017,BSOS,Economics
19,"Agarwal, Ritu",Prof & Assoc Dean,316597.10,2017,BMGT,"Decision, Operations & Information Technologies"

In [284]:
df_16 = pd.read_csv("2016_data.csv")
df_16["Year"] = "2016"
df_16.dropna(axis=0, how='any',inplace=True)

df_15 = pd.read_csv("2015_data.csv")
df_15["Year"] = "2015"
df_15.dropna(axis=0, how='any',inplace=True)

df_14 = pd.read_csv("2014_data.csv")
df_14["Year"] = "2014"
df_14.dropna(axis=0, how='any',inplace=True)

df_13 = pd.read_csv("2013_data.csv")
df_13["Year"] = "2013"
df_13.dropna(axis=0, how='any',inplace=True)