In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("2017_data.csv")
data.head()

,"A'Hearn, Michael F.",CMNS-Astronomy,Res Prof,"$135,810.69"
0,"Aarhus, William H",SVPAAP-Teaching and Learning Transformation Ce...,Manager,"$75,750.00"
1,"Abadinsky, Alisa Michelle",VPAF-Comptroller,Bursar,"$140,000.00"
2,"Abadir, Miranda",ARHU-National Foreign Language Center,Fac Res Asst,"$80,780.64"
3,"Abarca, Francisco A",VPAF-FM-B&LM-Building & Landscape Maintenance-...,Housekeeper,"$23,826.00"
4,"Abarcar, Arri J",BSOS-College of Behavioral & Social Sciences,Accounting Assoc,"$40,600.00"