# UMD Salary Guide Data

## Contents
1. [Introduction](#intro)
2. [About the Data](#about)
3. [Scraping](#scrape)
4. [Tidying](#tidy)
5. [Exploratory Data Analysis and Data Visualization](#eda)
6. [Hypothesis Testing and Analysis](#hypothesis)
6. [Conclusion](#conclusion)
7. [Future Work](#future)
8. [References](#references)

## Required Tools

<a id='intro'></a>

## 1. Introduction
For the University of Maryland community, the Diamondback’s yearly salary guides are an often browsed dataset. (If you are not from UMD, we still welcome you to take a look!) After these salary guides are released, many basic observations can be made about the highest paying faculty, your favorite professors’ salaries, etc. However, any more complicated observations would require the power and knowledge of computational analysis and data science techniques. More generally, given a dataset, it’s not always clear what next steps to take when jumping from initial observations to more complex conclusions and data visualizations. Therefore, we aim to leave the audience with a better understanding of data science protocols through analyzing trends in UMD faculty and staff salaries.

<a id='about'></a>

## 2. About the Data
The first step to data analysis is to choose and obtain a dataset. In our case, this is __[UMD Salary Data from the Diamondback](http://salaryguide.diamondbacklab.com/)__. They state on their website, "Each year, the university provides this public data to The Diamondback in a basic Excel spreadsheet." However, we received no reponse to our multiple requests for these spreadsheets, which was even more surprising as this data is public information. Thus, we had no choice but to scrape the salary data from their website. If you are interested in how we scraped this data, we will explain this process in the next section. On the other hand, if you are not too interested in the scraping process, that is okay too since we've scraped the yearly data into csv files for you! You can access the scraped data from __[our repository](https://github.com/rosegaray/UMDSalaryGuideData)__ and skip the next section.

Note: Another dataset we could have used comes from the __[Baltimore Sun](http://www.baltimoresun.com/news/data/bal-public-salaries-archive-20150415-htmlstory.html)__, who publish salary data from the entire state of Maryland. However, we decided to use the data from the Diamondback because we want to focus on UMD and the information in their salary guides are a bit more specific, as it includes both the school and department that a UMD employee belongs to.

<a id='scrape'></a>

## 3. Scraping

<a id='another_cell'></a>

<a id='tidy'></a>

## 4. Tidying

In [721]:
# !pip install plotly
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly 
plotly.tools.set_credentials_file(username='achang96', api_key='MuchOgtjBpKostjwu4RF')

import plotly.plotly as py
import plotly.graph_objs as go
import seaborn as sns

In [722]:
pd.set_option('max_rows', 50)
# Grabbing each year's data and storing it in a pandas frame
df_17 = pd.read_csv("2017_data.csv")
# Creating a Year column to each dataset
df_17["Year"] = "2017"
# Dropping all nans
df_17.dropna(axis=0, how='any', inplace=True)

# Dropped a non academic dept - necessary in order to split by '-'
df_17 = df_17[df_17.Department != "Office of Inst Research, Planning & Assessment"]

#Split Department column into 2 columns - School and Department 
df_17 = df_17.assign(School= df_17.Department.apply(lambda x: x.split("-",1)[0]))
df_17 = df_17.assign(Dept= df_17.Department.apply(lambda x: x.split("-",1)[1]))

#Dropping department column
df_17.drop('Department',axis=1,inplace=True)

#Converting salary to float
df_17 = df_17.assign(Salary = df_17.Salary.apply(lambda x: float(x[1:].replace(',',''))))
df_17.reset_index(drop=True, inplace=True)

# View all unique departments
all_departments = df_17.School.unique()
all_depts = np.sort(all_departments)
all_depts

array(['AGNR', 'ARCH', 'ARHU', 'BMGT', 'BSOS', 'CMNS', 'DIT', 'EDUC',
       'ENGR', 'EXST', 'GRAD', 'INFO', 'JOUR', 'LIBR', 'PLCY', 'PRES',
       'SPHL', 'SVPAAP', 'UGST', 'USG', 'VPAF', 'VPR', 'VPSA', 'VPUR'], dtype=object)

In [723]:
#Keep academic departments only 
#Drop DIT, EXST (extended studies), GRAD, LIBR, PRES, SVPAAP, UGST, USG, VPAF, VPR, VPSA, VPUR 
to_drop = ["DIT", "EXST" ,"GRAD" ,"LIBR" ,"PRES","SVPAAP" ,"UGST" ,"USG" ,"VPAF" , "VPR" ,"VPSA", "VPUR"]
df_17 = df_17[~df_17.School.isin(to_drop)]
depts = np.sort((df_17.School).unique())
depts

array(['AGNR', 'ARCH', 'ARHU', 'BMGT', 'BSOS', 'CMNS', 'EDUC', 'ENGR',
       'INFO', 'JOUR', 'PLCY', 'SPHL'], dtype=object)

In [724]:
#Get rid of duplicates
df_17 = df_17.groupby(['Name']).agg({'Title':'first',"Salary":np.sum,\
                                     "Year":'first',"School":'first',"Dept":'first'}).reset_index()

In [725]:
#sort dataframe by school
df_17.sort_values('School', inplace=True)
df_17.reset_index(drop=True, inplace=True)
df_17

,Name,Title,Salary,Year,School,Dept
0,"Perise, Michael Frederick",Agric Tech Lead,36178.00,2017,AGNR,AES-Agriculture Experiment Station
1,"Calder, Vivian A.",Agric Tech,45151.76,2017,AGNR,AES-Agriculture Experiment Station
2,"Caldwell, Crystal",Coordinator,50307.57,2017,AGNR,Animal & Avian Sciences
3,"Justice, David M.",Manager,60358.49,2017,AGNR,AES-Agriculture Experiment Station
4,"Callahan, Mary Theresa Louise",Fac Asst,43865.00,2017,AGNR,Plant Science & Landscape Architecture
5,"Sherrard, Ann Carroll",Principal Agent,93827.28,2017,AGNR,UME-West Region
6,"Shi, Meiqing",Asst Prof,85497.54,2017,AGNR,Veterinary Medicine Program
7,"Funk, David H.",Manager,62659.81,2017,AGNR,AES-Agriculture Experiment Station
8,"Korir, Robert C.",Lab Res Tech,41701.60,2017,AGNR,Plant Science & Landscape Architecture
9,"Ma, Li",Asst Prof,132027.42,2017,AGNR,Animal & Avian Sciences
10,"Shipley, Paul Richard",Fac Ext Asst,72231.25,2017,AGNR,Environmental Science & Technology
11,"Wang, Chenzi",Coordinator,52276.00,2017,AGNR,UME-University of Maryland Extension
12,"Lewis, Sydney Dianne",Ext Prog Asst,36592.50,2017,AGNR,Nutrition and Food Science
13,"May, Peter Ian",Lecturer,27040.00,2017,AGNR,Environmental Science & Technology
14,"Campbell, Portia M.",Admin Asst II,48544.45,2017,AGNR,UME-West Region
15,"Shirmohammadi, Adel",Prof & Assoc Dean,196289.96,2017,AGNR,AES-Agriculture Experiment Station
16,"Canales, Glenda E.",Asst to Dean,77000.00,2017,AGNR,College of Agriculture & Natural Resources
17,"Shorter, Shelia Rena",Admin Asst II,49588.54,2017,AGNR,UME-East Region
18,"Shriver, Jeannine I.",Admin Asst I,29883.33,2017,AGNR,UME-West Region
19,"Walter, Richard M.",Director,83495.44,2017,AGNR,UME-West Region
20,"Friedman, Diana",Fac Spec,49382.75,2017,AGNR,AES-Agriculture Experiment Station
21,"Capotosto, Clare",Prog Mgmt Spec,50999.49,2017,AGNR,Animal & Avian Sciences
22,"Walsh, Christopher S.",Prof,126460.23,2017,AGNR,Plant Science & Landscape Architecture
23,"Walls, Roy Smith JR",Inst,89133.93,2017,AGNR,Institute of Applied Agriculture
24,"Capuco, Meredith",Fac Asst,44970.00,2017,AGNR,Nutrition and Food Science
...,...,...,...,...,...,...
5884,"Bugbee, Brittany A",Fac Spec,48000.00,2017,SPHL,Behavioral & Community Health
5885,"Feldman, Robert H.",Prof,93316.86,2017,SPHL,Behavioral & Community Health
5886,"Quiros Alcala, Lesliam",Asst Prof,87720.00,2017,SPHL,MD Institute for Applied Environmental Health
5887,"Smith, J Carson",Assoc Prof,98388.96,2017,SPHL,Kinesiology
5888,"Ginsberg, Andrew",Lecturer,37583.11,2017,SPHL,Kinesiology
5889,"Butler, James III",Asst Prof,85943.03,2017,SPHL,Behavioral & Community Health
5890,"O'Hara, Jessica K.",Lecturer,97231.00,2017,SPHL,School of Public Health
5891,"Smith, Nancy Gray",Asst Clin Prof,80000.00,2017,SPHL,Behavioral & Community Health
5892,"Gold, Robert S.",Prof & Chair,267329.37,2017,SPHL,Epidemiology & Biostatistics
5893,"Sehgal, Neil Jay",Asst Prof,105000.00,2017,SPHL,Health Services Administration
5894,"Wang, Min Qi",Prof,119883.47,2017,SPHL,Behavioral & Community Health
5895,"Romeo, Andrea B",Lecturer,37583.11,2017,SPHL,Kinesiology
5896,"Farmer, Colleen M.",Asst Dean,128825.38,2017,SPHL,School of Public Health
5897,"Smith, Teri Leigh",Manager,58500.00,2017,SPHL,School of Public Health
5898,"Smith-Bynum, Mia A",Assoc Prof,90208.16,2017,SPHL,Family Science
5899,"Kennedy, Tracy",Coordinator,56932.07,2017,SPHL,Behavioral & Community Health
5900,"Farahati, Farah",Lecturer,10000.00,2017,SPHL,Health Services Administration
5901,"Sebastian Schurer, Polly",Coordinator,71087.12,2017,SPHL,Kinesiology
5902,"Romeo Upperman, Crystal Eloma",Lecturer,11000.00,2017,SPHL,MD Institute for Applied Environmental Health
5903,"Phillips, Jennie A",Lect & Dir,7231.29,2017,SPHL,Kinesiology
5904,"Klotz, Kenneth W.",Lecturer,17386.91,2017,SPHL,Kinesiology
5905,"Cantor, David",Adjunct Assoc Prof,13002.00,2017,SPHL,School of Public Health
5906,"Mittal, Mona",Asst Prof,89199.00,2017,SPHL,Family Science
5907,"Glancy, Sarah",Asst Prof,90000.00,2017,SPHL,Kinesiology
5908,"Klossner, Joanne C.",Lecturer,59500.00,2017,SPHL,Kinesiology

In [726]:
#Viewing all titles
depts = np.sort((df_17.Title).unique())
depts

array(['Acad Adv', 'Acad Prog Spec', 'Accompanist', 'Account Clerk I',
       'Account Clerk II', 'Account Clerk III', 'Accountant',
       'Accountant I', 'Accounting Assoc', 'Adjunct Assoc Prof',
       'Adjunct Asst Prof', 'Adjunct Prof', 'Admin Asst I',
       'Admin Asst II', 'Administrator', 'Adv Consul', 'Advisor', 'Agent',
       'Agent Assoc', 'Agric Tech', 'Agric Tech Lead', 'Agric Tech Supv',
       'Agric Worker I', 'Agric Worker II', 'Analyst', 'Arch Tech I',
       'Asoc Prof &Assoc Dir', 'Assoc Clin Prof', 'Assoc Dean',
       'Assoc Dir', 'Assoc Prof', 'Assoc Prof & Assoc Dean',
       'Assoc Prof & Dir', 'Assoc Prof &Chair', 'Assoc Prof Assoc Chair',
       'Assoc Prof Emeritus', 'Assoc Res Eng', 'Assoc Res Prof',
       'Assoc Res Scholar', 'Assoc Res Sci', 'Asst', 'Asst Art-In-Res',
       'Asst Clin Prof', 'Asst Dean', 'Asst Dean & Dir', 'Asst Dir',
       'Asst Editor', 'Asst Inst', 'Asst Mgr', 'Asst Prof',
       'Asst Prog Dir', 'Asst Res Eng', 'Asst Res Schl', 'Asst Res Sci',
       'Asst Rsch Prof', 'Asst to Dean', 'Asst to Dir', 'Auto Serv Mech',
       'Auto Shop Supv', 'Business Manager', 'Business Serv Spec',
       'CYC Teacher', 'Clin Prof', 'Clinic Coord',
       'College Park Professor', 'Comp Eng', 'Cont Admin', 'Coordinator',
       'Dev Ofc', 'Dir Admin Srv', 'Dir Development', 'Director',
       'Dist Univ Prof', 'Dist Univ Prof & Dir', 'Dist Univ Prof Chair',
       'Dist Univ Prof Emerita', 'Dist Unv Prof, Rgnts Prof, Dir',
       'Editorial Asst', 'Elect Tech III', 'Eng Phys', 'Eng Tech III',
       'Engineer', 'Exec Adm Asst I', 'Exec Adm Asst II', 'Exec Dir',
       'Ext Assoc', 'Ext Prog Asst', 'Fac Asst', 'Fac Ext Asst', 'Fac Mgr',
       'Fac Res Asst', 'Fac Spec', 'Food Serv Spec', 'Graph Art Design',
       'IT Admin & Plan Mgr', 'IT Coor', 'IT Network Engineer',
       'IT Op Mgr', 'IT Programmer I', 'IT Programmer II',
       'IT Sr. Network Engineer', 'IT Support Assoc', 'IT Support Asst',
       'IT Support Spec', 'IT Sys Analyst', 'IT Sys Mgr',
       'IT Sys Prog/Net Supp', 'Inst', 'Inst Designer', 'Jr Lecturer',
       'LAN Sys Admin', 'Lab Animal Tech', 'Lab Animal Tech Asst',
       'Lab Assistant', 'Lab Helper', 'Lab Res Tech', 'Lect & Dir',
       'Lecturer', 'MT Mlt Td Chf II', 'Manager', 'Multi media Asst',
       'Office Assistant', 'Office Clerk II', 'Office Supv I',
       'Phys Sci Tech I', 'Phys Sci Tech II', 'Phys Sci Tech III', 'Pilot',
       'Post-Doc Assoc', 'Prg Admin Spec', 'Prin Agent & Asst. Dir.',
       'Prin Agent & Dir', 'Prin Agent Assoc', 'Prin Fac Spec',
       'Prin Lecturer', 'Principal Agent', 'Prof', 'Prof & Act Assoc Dean',
       'Prof & Act Chair', 'Prof & Act Dir', 'Prof & Area Chair',
       'Prof & Assoc Chair', 'Prof & Assoc Dean', 'Prof & Assoc Dir',
       'Prof & Chair', 'Prof & Dir', 'Prof And Dean', 'Prof Emerita',
       'Prof Emeritus', 'Prof Of Practice', 'Prog Coor', 'Prog Mgmt Spec',
       'Program Dir', 'Programmer', 'Proj Dir', 'Proj Eng', 'Proj Mgr',
       'Res Analyst', 'Res Assoc', 'Res Coor', 'Res Eng', 'Res Prof',
       'Res Prof & Dir', 'Res Prof Emeritus', 'Res Schl', 'Res Sci',
       'Res Spec', 'Research Asst', 'Senior Lecturer', 'Specialist',
       'Sprv Tech Supp Srv', 'Sr Agent', 'Sr Agent & Dir',
       'Sr Agent Assoc', 'Sr Art-In Res', 'Sr Assoc Director',
       'Sr Fac Spec', 'Sr Res Eng', 'Sr Res Sci', 'Sr Writer',
       'Sr. Agent & Asst Dir', 'Storekeeper II', 'Storekeeper III',
       'Supervisor', 'Systems Analyst', 'Teaching Lab Tech', 'Tech Coor',
       'Tech Dir', 'Vis Res Engr', 'Visit Assoc Prof',
       'Visit Assoc Res Sci', 'Visit Asst Prof', 'Visit Asst Res Sci',
       'Visit Lecturer', 'Visit Prof', 'Visit Res Prof', 'Visit Res Sci',
       'Visit Sr Res Sci', 'Visiting Assoc Res Prof',
       'Visiting Asst Rsch Prof', 'Visiting Principal Faculty Spe',
       'Web Svcs Dev Sr', 'Web Svcs Developer'], dtype=object)

In [727]:
# Keep only teaching faculty 
to_keep = ['Adjunct Assoc Prof','Adjunct Asst Prof','Adjunct Prof',"Asoc Prof &Assoc Dir",
"Assoc Clin Prof","Assoc Dean","Assoc Dean & Assoc Director""Assoc Dir","Assoc Prof","Assoc Prof & Assoc Dean","Assoc Prof & Dir","Assoc Prof &Chair",
"Assoc Prof Assoc Chair","Assoc Prof Emeritus","Assoc Res Eng","Assoc Res Prof","Assoc Res Scholar","Assoc Res Sci","Asst Rsch Prof",
"Clin Prof","College Park Professor","Dist Univ Prof","Dist Univ Prof & Dir","Dist Univ Prof Chair","Dist Univ Prof Emerita","Dist Unv Prof, Rgnts Prof, Dir","Jr Lecturer",
"Lect & Dir","Lecturer","Post-Doc Assoc","Prin Lecturer","Prof","Prof & Act Assoc Dean","Prof & Act Chair","Prof & Act Dir","Prof & Area Chair","Prof & Assoc Chair",
"Prof & Assoc Dean","Prof & Assoc Dir","Prof & Chair","Prof & Dir","Prof And Dean","Prof Emerita","Prof Emeritus","Prof Of Practice",
"Res Prof","Res Prof & Dir","Res Prof Emeritus","Senior Lecturer","Visit Assoc Prof","Visit Asst Prof","Visit Lecturer","Visit Prof",
"Visit Res Prof","Visiting Assoc Res Prof","Visiting Asst Rsch Prof", "Asst Prof"]
# Drop row if the title is not in to keep
df_17 = df_17[df_17.Title.isin(to_keep)]
df_17 = df_17.reset_index(drop=True)
# Show depts kept
depts = np.sort((df_17.Title).unique())
depts

array(['Adjunct Assoc Prof', 'Adjunct Asst Prof', 'Adjunct Prof',
       'Asoc Prof &Assoc Dir', 'Assoc Clin Prof', 'Assoc Dean',
       'Assoc Prof', 'Assoc Prof & Assoc Dean', 'Assoc Prof & Dir',
       'Assoc Prof &Chair', 'Assoc Prof Assoc Chair',
       'Assoc Prof Emeritus', 'Assoc Res Eng', 'Assoc Res Prof',
       'Assoc Res Scholar', 'Assoc Res Sci', 'Asst Prof', 'Asst Rsch Prof',
       'Clin Prof', 'College Park Professor', 'Dist Univ Prof',
       'Dist Univ Prof & Dir', 'Dist Univ Prof Chair',
       'Dist Univ Prof Emerita', 'Dist Unv Prof, Rgnts Prof, Dir',
       'Jr Lecturer', 'Lect & Dir', 'Lecturer', 'Post-Doc Assoc',
       'Prin Lecturer', 'Prof', 'Prof & Act Assoc Dean',
       'Prof & Act Chair', 'Prof & Act Dir', 'Prof & Area Chair',
       'Prof & Assoc Chair', 'Prof & Assoc Dean', 'Prof & Assoc Dir',
       'Prof & Chair', 'Prof & Dir', 'Prof And Dean', 'Prof Emerita',
       'Prof Emeritus', 'Prof Of Practice', 'Res Prof', 'Res Prof & Dir',
       'Res Prof Emeritus', 'Senior Lecturer', 'Visit Assoc Prof',
       'Visit Asst Prof', 'Visit Lecturer', 'Visit Prof', 'Visit Res Prof',
       'Visiting Assoc Res Prof', 'Visiting Asst Rsch Prof'], dtype=object)

In [728]:
# Sort by Schol, then Salary
df_17.sort_values(['School','Salary'], ascending=[True,False],inplace=True)
df_17.reset_index(drop=True, inplace=True)
df_17

,Name,Title,Salary,Year,School,Dept
0,"Beyrouty, Craig",Prof And Dean,343374.97,2017,AGNR,College of Agriculture & Natural Resources
1,"Wei, Cheng-I",Prof & Dir,282197.66,2017,AGNR,College of Agriculture & Natural Resources
2,"Chambers, Robert G.",Prof,245190.00,2017,AGNR,Agricultural & Resource Economics
3,"Samal, Siba K.",Prof & Chair,230668.13,2017,AGNR,Veterinary Medicine Program
4,"Hanson, James C.",Prof & Chair,218461.98,2017,AGNR,Agricultural & Resource Economics
5,"Meng, Jianghong",Prof & Dir,212255.84,2017,AGNR,Nutrition and Food Science
6,"Bowerman, William W",Prof & Chair,210197.57,2017,AGNR,Environmental Science & Technology
7,"Williams, Roberton C III",Prof,197733.22,2017,AGNR,Agricultural & Resource Economics
8,"Murphy, Angus",Prof & Chair,197681.46,2017,AGNR,Plant Science & Landscape Architecture
9,"Shirmohammadi, Adel",Prof & Assoc Dean,196289.96,2017,AGNR,AES-Agriculture Experiment Station
10,"Porter, Tom E.",Prof,187166.62,2017,AGNR,Animal & Avian Sciences
11,"Alberini, Anna",Prof,187073.26,2017,AGNR,Agricultural & Resource Economics
12,"Stahl, Chad H",Prof & Chair,183899.99,2017,AGNR,Animal & Avian Sciences
13,"Jackson, Robert T.",Prof & Chair,178907.32,2017,AGNR,Nutrition and Food Science
14,"Lichtenberg, Erik",Prof,173104.65,2017,AGNR,Agricultural & Resource Economics
15,"Erdman, Richard A.",Prof,167541.45,2017,AGNR,Animal & Avian Sciences
16,"Lei, David K. Y.",Prof,162864.90,2017,AGNR,Nutrition and Food Science
17,"Harrell, Reginal M.",Prof & Dir,156839.60,2017,AGNR,Environmental Science & Technology
18,"Sullivan, Joseph H.",Prof & Assoc Dean,155000.00,2017,AGNR,College of Agriculture & Natural Resources
19,"Hamza, Iqbal",Prof,154794.14,2017,AGNR,Animal & Avian Sciences
20,"Leonard, Kenneth L.",Assoc Prof,153614.58,2017,AGNR,Agricultural & Resource Economics
21,"Lynch, Lori",Prof,153610.67,2017,AGNR,Agricultural & Resource Economics
22,"Zhu, Xiaoping",Prof,152250.01,2017,AGNR,Veterinary Medicine Program
23,"Jakiela, Pamela",Asst Prof,142113.82,2017,AGNR,Agricultural & Resource Economics
24,"Keefer, Carol L",Prof,136381.46,2017,AGNR,Animal & Avian Sciences
...,...,...,...,...,...,...
3103,"Jones, Chandria Denise",Lecturer,11000.00,2017,SPHL,School of Public Health
3104,"Bazaco, Michael C",Lecturer,11000.00,2017,SPHL,School of Public Health
3105,"Yi, Robin P.",Lecturer,11000.00,2017,SPHL,School of Public Health
3106,"Romeo Upperman, Crystal Eloma",Lecturer,11000.00,2017,SPHL,MD Institute for Applied Environmental Health
3107,"Plotkin, Larry",Lecturer,10098.10,2017,SPHL,Kinesiology
3108,"Mazala, Davi Augusto Garcia",Lecturer,10098.10,2017,SPHL,Kinesiology
3109,"Dixon, Diane L.",Lecturer,10000.00,2017,SPHL,Health Services Administration
3110,"King, Christopher Jerome",Lecturer,10000.00,2017,SPHL,Health Services Administration
3111,"Redwood, Yanique",Lecturer,10000.00,2017,SPHL,Health Services Administration
3112,"Wrobleski, Margaret M.",Lecturer,10000.00,2017,SPHL,Behavioral & Community Health
3113,"Farahati, Farah",Lecturer,10000.00,2017,SPHL,Health Services Administration
3114,"Collier, Douglas Kurt",Lecturer,8693.45,2017,SPHL,Kinesiology
3115,"Rush, Laura A.",Lecturer,8693.45,2017,SPHL,Kinesiology
3116,"Phillips, Jennie A",Lect & Dir,7231.29,2017,SPHL,Kinesiology
3117,"Contee, Anne A.",Lecturer,6264.00,2017,SPHL,Kinesiology
3118,"Henkel, Timothy Andrew",Lecturer,5796.00,2017,SPHL,Kinesiology
3119,"Cobb, Jodi Lynn",Lecturer,5697.81,2017,SPHL,Family Science
3120,"Wilcox, Wendy J",Lecturer,5697.81,2017,SPHL,Family Science
3121,"Bernards, Reena",Lecturer,5697.81,2017,SPHL,Family Science
3122,"Blair-Brown, Merlene",Lecturer,5697.81,2017,SPHL,Family Science
3123,"Scheiner, Ann Caroline",Lecturer,5317.95,2017,SPHL,Family Science
3124,"Livelsberger, Brian Patrick",Lecturer,5317.95,2017,SPHL,Family Science
3125,"Caruana, Julia",Lecturer,5222.99,2017,SPHL,Family Science
3126,"Sterner, Emily Rose",Lecturer,2898.00,2017,SPHL,Kinesiology
3127,"Mateik, Alexander S",Lecturer,2897.82,2017,SPHL,Kinesiology

In [729]:
#Highest paid people overall
df_17.sort_values(['Salary'], ascending=[False ],inplace=True)
df_17.reset_index(drop=True, inplace=True)
df_17.head(20)

,Name,Title,Salary,Year,School,Dept
0,"Das Sarma, Sankar",Dist Univ Prof & Dir,411978.92,2017,CMNS,Physics
1,"Maksimovic, Vojislav",Prof & Area Chair,408038.69,2017,BMGT,Finance
2,"Wedel, Michel",Dist Univ Prof,398688.68,2017,BMGT,Marketing
3,"Triantis, Alexander J.",Prof And Dean,394017.29,2017,BMGT,Robert H. Smith School of Business
4,"Fox, Nathan A.",Dist Univ Prof,393091.00,2017,EDUC,Human Development and Quantitative Methodology
5,"Rust, Roland T.",Dist Univ Prof,391907.75,2017,BMGT,Marketing
6,"Tronetti, Rajshree Agarwal",Prof,387850.00,2017,BMGT,Management & Organization
7,"Monroe, Christopher",Dist Univ Prof,387730.33,2017,CMNS,Physics
8,"Banavar, Jayanth R.",Prof And Dean,378750.00,2017,CMNS,"College of Computer, Math & Natural Sciences"
9,"Tadmor, Eitan",Dist Univ Prof,362900.95,2017,CMNS,Ctr for Scientific Computation and Math Modeling
10,"Kyle, Albert S.",Prof,356028.59,2017,BMGT,Finance
11,"Bakshi, Gurdip S.",Prof,353661.52,2017,BMGT,Finance
12,"Golden, Bruce L.",Prof,351772.93,2017,BMGT,"Decision, Operations & Information Technologies"
13,"Lushniak, Boris D",Prof And Dean,350000.00,2017,SPHL,School of Public Health
14,"Beyrouty, Craig",Prof And Dean,343374.97,2017,AGNR,College of Agriculture & Natural Resources
15,"Gates, Sylvester James JR","Dist Unv Prof, Rgnts Prof, Dir",339254.78,2017,CMNS,Physics
16,"Fourney, William L.",Prof & Assoc Dean,336980.95,2017,ENGR,A. James Clark School of Engineering
17,"Pines, Darryll J.",Prof And Dean,336929.00,2017,ENGR,A. James Clark School of Engineering
18,"Davis, Larry S.",Dist Univ Prof,331259.70,2017,CMNS,Computer Science
19,"Baras, John S.",Prof,331018.38,2017,ENGR,Electrical & Computer Engineering

In [755]:
# Function to similarly wrangle the data for years 2013-2016. 
# Could have just used this function for 2017 as well, but wanted to walk you through the steps above :)
def wrangle(year): 
    csv = str(year) + "_data.csv"
    df = pd.read_csv(csv)
    

    df["Year"] = str(year)
    df.dropna(axis=0, how='any', inplace=True)
    df = df[df.Department != "Office of Inst Research, Planning & Assessment"]
    
    df = df.assign(School= df.Department.apply(lambda x: x.split("-",1)[0]))
    df = df.assign(Dept= df.Department.apply(lambda x: x.split("-",1)[1]))

    df.drop('Department',axis=1,inplace=True)
    df = df.assign(Salary = df.Salary.apply(lambda x: float(x[1:].replace(',',''))))
    df.reset_index(drop=True, inplace=True)

    all_departments = df.School.unique()
    all_depts = np.sort(all_departments)
    
    to_drop = ["DIT", "EXST" ,"GRAD" ,"LIBR" ,"PRES","SVPAAP" ,"UGST" ,"USG" ,"VPAF" , "VPR" ,"VPSA", "VPUR"]
    df = df[~df.School.isin(to_drop)]
    
    df = df.groupby(['Name']).agg({'Title':'first',"Salary":np.sum,\
                                     "Year":'first',"School":'first',"Dept":'first'}).reset_index()
    
    df.sort_values('School', inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    to_keep = ['Adjunct Assoc Prof','Adjunct Asst Prof','Adjunct Prof',"Asoc Prof &Assoc Dir",
        "Assoc Clin Prof","Assoc Dean","Assoc Dean & Assoc Director""Assoc Dir","Assoc Prof","Assoc Prof & Assoc Dean","Assoc Prof & Dir","Assoc Prof &Chair",
        "Assoc Prof Assoc Chair","Assoc Prof Emeritus","Assoc Res Eng","Assoc Res Prof","Assoc Res Scholar","Assoc Res Sci","Asst Rsch Prof",
        "Clin Prof","College Park Professor","Dist Univ Prof","Dist Univ Prof & Dir","Dist Univ Prof Chair","Dist Univ Prof Emerita","Dist Unv Prof, Rgnts Prof, Dir","Jr Lecturer",
        "Lect & Dir","Lecturer","Post-Doc Assoc","Prin Lecturer","Prof","Prof & Act Assoc Dean","Prof & Act Chair","Prof & Act Dir","Prof & Area Chair","Prof & Assoc Chair",
        "Prof & Assoc Dean","Prof & Assoc Dir","Prof & Chair","Prof & Dir","Prof And Dean","Prof Emerita","Prof Emeritus","Prof Of Practice",
        "Res Prof","Res Prof & Dir","Res Prof Emeritus","Senior Lecturer","Visit Assoc Prof","Visit Asst Prof","Visit Lecturer","Visit Prof",
        "Visit Res Prof","Visiting Assoc Res Prof","Visiting Asst Rsch Prof", "Asst Prof"]
    df = df[df.Title.isin(to_keep)]
    df = df.reset_index(drop=True)
    
    df.sort_values(['School','Salary'], ascending=[True,False ],inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    return df

In [731]:
df_16 = wrangle(2016)
df_15 = wrangle(2015)

<a id='eda'></a>

## 5. Exploratory Data Analysis and Data Visualization

### 5.1 Grouping by School

In [732]:
means = df_17[['Salary', 'School']].groupby('School').mean()
means = means.rename(columns = {'Salary' : 'mean_salary'}).reset_index()
means['faculty_count'] = 0

for idx,row in means.iterrows():
    means.set_value(idx, 'faculty_count', df_17['School'].value_counts()[row['School']])

means

   School    mean_salary  faculty_count
0    AGNR   91099.678649            185
1    ARCH   67424.647414             58
2    ARHU   67736.839321            604
3    BMGT  145143.288430            223
4    BSOS  101356.382740            365
5    CMNS  102176.440052            774
6    EDUC   82323.662422            161
7    ENGR  104636.849607            433
8    INFO   82015.205682             44
9    JOUR   55382.590429             70
10   PLCY  101421.090625             48
11   SPHL   77301.812761            163

In [733]:
# Sorting by highest mean salary

means1 = means.copy()
means1.sort_values(['mean_salary'], ascending=[False],inplace=True)
means1 = means1.reset_index(drop=True)
means1

   School    mean_salary  faculty_count
0    BMGT  145143.288430            223
1    ENGR  104636.849607            433
2    CMNS  102176.440052            774
3    PLCY  101421.090625             48
4    BSOS  101356.382740            365
5    AGNR   91099.678649            185
6    EDUC   82323.662422            161
7    INFO   82015.205682             44
8    SPHL   77301.812761            163
9    ARHU   67736.839321            604
10   ARCH   67424.647414             58
11   JOUR   55382.590429             70

In [734]:
# Sorting by highest faculty count

means2 = means.copy()
means2.sort_values(['faculty_count'], ascending=[False],inplace=True)
means2 = means2.reset_index(drop=True)
means2

   School    mean_salary  faculty_count
0    CMNS  102176.440052            774
1    ARHU   67736.839321            604
2    ENGR  104636.849607            433
3    BSOS  101356.382740            365
4    BMGT  145143.288430            223
5    AGNR   91099.678649            185
6    SPHL   77301.812761            163
7    EDUC   82323.662422            161
8    JOUR   55382.590429             70
9    ARCH   67424.647414             58
10   PLCY  101421.090625             48
11   INFO   82015.205682             44

In [735]:
# function below courtesy of stackoverflow user @ntg
# from IPython.display import display_html
# def display_side_by_side(*args):
#     html_str=''
#     for df in args:
#         html_str+=df.to_html()
#     display_html(html_str.replace('table','table style="display:inline"'),raw=True)
    
# display_side_by_side(means,means1,means2)

In [736]:
# print(means['faculty_count'].sum())

In [737]:
#explain departments by getting how big they are lawl

In [738]:
# total = len(df_17.index)
# schools = means2['School'].values
# counts = means2['faculty_count'].values
# counts = counts/total
# print(schools)
# print(counts)

In [739]:
# schools

In [740]:
labels = means2['School'].values
values = means2['faculty_count'].values

trace = go.Pie(labels=labels, values=values,
               hoverinfo='label+percent', textinfo='value', 
               textfont=dict(size=20),
               marker=dict(line=dict(color='#000000', width=2)))
fig = {'data' : [trace],
       'layout' : {'title': 'Number of Faculty by School'}
      }
py.iplot(fig, filename='styled_pie_chart')

In [741]:
len(df_17.School.unique())

12

In [742]:
df_17.sort_values(['Salary'], ascending=[True],inplace=True)
df_17[df_17.School == 'INFO']

,Name,Title,Salary,Year,School,Dept
2987,"Rhoads, Vera T",Lecturer,8701.48,2017,INFO,College of Information Studies
2989,"Kolowitz, Brian J",Lecturer,8701.48,2017,INFO,College of Information Studies
2988,"Seyed, A Patrice",Lecturer,8701.48,2017,INFO,College of Information Studies
2986,"Sahasrabudhe, Vikas M",Lecturer,8701.50,2017,INFO,College of Information Studies
2985,"Killam, Howard William JR",Lecturer,8701.50,2017,INFO,College of Information Studies
2984,"Butler, Michelle Markey",Lecturer,8701.50,2017,INFO,College of Information Studies
2983,"Brewer, Laurence Neil",Lecturer,8701.50,2017,INFO,College of Information Studies
2982,"Dearstyne, Bruce W.",Lecturer,8701.50,2017,INFO,College of Information Studies
2981,"Taylor, Deborah D.",Lecturer,8701.50,2017,INFO,College of Information Studies
2789,"Haspo, Beatriz",Lecturer,17403.00,2017,INFO,College of Information Studies
2788,"Debonis, Rocco Daniel Jr",Lecturer,17403.00,2017,INFO,College of Information Studies
2787,"Mitchell, Erik Thomas",Lecturer,17403.00,2017,INFO,College of Information Studies
2247,"Bonsignore, Elizabeth Marie",Post-Doc Assoc,50000.00,2017,INFO,College of Information Studies
1939,"Daniels, Morgan Gabrielle",Post-Doc Assoc,65000.00,2017,INFO,College of Information Studies
1940,"Gucer, Kathryn Anne",Post-Doc Assoc,65000.00,2017,INFO,College of Information Studies
1866,"Kurtz, Michael J.",Adjunct Prof,67785.27,2017,INFO,College of Information Studies
1714,"Gorham-Oscilowski, Ursula",Lecturer,75295.00,2017,INFO,College of Information Studies
1701,"Lawley, Katy",Lecturer,76419.26,2017,INFO,College of Information Studies
1674,"Weaver, Kathy E",Lecturer,77838.75,2017,INFO,College of Information Studies
1573,"Heger, Kenneth William",Lecturer,81600.00,2017,INFO,College of Information Studies
1561,"Winter, Susan J",Lecturer,82341.19,2017,INFO,College of Information Studies
1540,"Srikantaiah, Taverekere",Visit Prof,83275.70,2017,INFO,College of Information Studies
1472,"Hill, Renee F",Senior Lecturer,86250.00,2017,INFO,College of Information Studies
1374,"Kules, Bill",Visit Assoc Prof,90000.00,2017,INFO,College of Information Studies
1249,"St Jean, Beth L",Asst Prof,95716.94,2017,INFO,College of Information Studies
1229,"Tausczik, Yla",Asst Prof,96900.00,2017,INFO,College of Information Studies
1192,"Punzalan, Ricardo Laquilac",Asst Prof,98785.36,2017,INFO,College of Information Studies
1164,"Subramaniam, Mega",Assoc Prof,100333.20,2017,INFO,College of Information Studies
1163,"Vitak, Jessica",Asst Prof,100341.46,2017,INFO,College of Information Studies
1153,"Wiggins, Andrea",Asst Prof,100918.80,2017,INFO,College of Information Studies
1143,"Wang, Ping",Assoc Prof,101747.65,2017,INFO,College of Information Studies
1126,"Preece, Jennifer J.",Prof,102668.51,2017,INFO,College of Information Studies
1102,"Frias-Martinez, Vanessa",Asst Prof,104295.00,2017,INFO,College of Information Studies
1076,"Shilton, Katie",Assoc Prof,105931.97,2017,INFO,College of Information Studies
1004,"Diker, Vedat Guclu",Senior Lecturer,110620.13,2017,INFO,College of Information Studies
975,"Golbeck, Jennifer Ann",Assoc Prof,112499.47,2017,INFO,College of Information Studies
872,"Jaeger, Paul T.",Prof,120992.75,2017,INFO,College of Information Studies
791,"Summers, Timothy C",Lecturer,127187.50,2017,INFO,College of Information Studies
519,"Marciano, Richard",Prof,155295.00,2017,INFO,College of Information Studies
442,"Vanderheiden, Gregg C",Prof,168000.00,2017,INFO,College of Information Studies
429,"Weeks, Ann Carlson",Prof Of Practice,170161.40,2017,INFO,College of Information Studies
426,"Druin, Allison J.",Prof,170940.00,2017,INFO,College of Information Studies
398,"Butler, Brian",Prof & Assoc Dean,174006.30,2017,INFO,College of Information Studies
74,"Marzullo, Keith",Prof And Dean,260000.00,2017,INFO,College of Information Studies

In [743]:
for school in sorted(df_17.School.unique()):
    globals()["trace" + school] = go.Box(
        x=(df_17[df_17.School == school])['Salary'].tolist(),
        name = str(school))
    
data=[traceSPHL, tracePLCY, traceJOUR, traceINFO, traceENGR, traceEDUC,
      traceCMNS, traceBSOS, traceBMGT, traceARHU, traceARCH, traceAGNR]

layout=go.Layout(
    title="Salaries by School",
    xaxis=dict(title='Salary'),
    yaxis=dict(title='School')
)

fig=go.Figure(data=data, layout=layout)

py.iplot(fig)

In [744]:
# len(df_17.Dept.unique())

In [745]:
# len(df_17.loc[df_17['School'] == 'ENGR'].Dept.unique())
# len(df_17.loc[df_17['School'] == 'BMGT'].Dept.unique())
# len(df_17.loc[df_17['School'] == 'CMNS'].Dept.unique())
# df_17.loc[df_17['School'] == 'BMGT']
# df_17.loc[df_17['School'] == 'CMNS']

# df_17.groupby('Dept').Dept.count()
# df_17.groupby('Dept').Dept.count().get('Art')

In [746]:
# counts = df_17['School'].value_counts()
# c2017 = counts.to_frame('count').reset_index()
# c2017.sort_values(['index'], ascending=[True],inplace=True)
# c2017 = c2017.reset_index(drop=True)
# c2017['year'] = 2017
# c2017

In [747]:
c2017 = df_17[['School', 'Year']]
c2017 = pd.DataFrame(data={'Count': c2017.groupby(['School', 'Year']).size()}).reset_index()
c2016 = df_16[['School', 'Year']]
c2016 = pd.DataFrame(data={'Count': c2016.groupby(['School', 'Year']).size()}).reset_index()
c2015 = df_15[['School', 'Year']]
c2015 = pd.DataFrame(data={'Count': c2015.groupby(['School', 'Year']).size()}).reset_index()
result = pd.concat([c2017,c2016,c2015])
result.reset_index(drop=True)

   School  Year  Count
0    AGNR  2017    185
1    ARCH  2017     58
2    ARHU  2017    604
3    BMGT  2017    223
4    BSOS  2017    365
5    CMNS  2017    774
6    EDUC  2017    161
7    ENGR  2017    433
8    INFO  2017     44
9    JOUR  2017     70
10   PLCY  2017     48
11   SPHL  2017    163
12   AGNR  2016    182
13   ARCH  2016     59
14   ARHU  2016    599
15   BMGT  2016    221
16   BSOS  2016    355
17   CMNS  2016    761
18   EDUC  2016    154
19   ENGR  2016    432
20   INFO  2016     42
21   JOUR  2016     67
22   PUAF  2016     43
23   SPHL  2016    158
24   AGNR  2015    151
25   ARCH  2015     58
26   ARHU  2015    613
27   BMGT  2015    214
28   BSOS  2015    331
29   CMNS  2015    547
30   EDUC  2015    164
31   ENGR  2015    363
32   INFO  2015     45
33   JOUR  2015     76
34   PUAF  2015     49
35   SPHL  2015    145

In [748]:
#correct?
to_drop = ['Astronomy', 'Atmospheric & Oceanic Science', \
           'Biology','Cell Biology & Molecular Genetics', 'Chemistry & Biochemistry', \
           'Earth System Science Interdisciplinary Center', 'Entomology','Geology','Mathematics', 'Physics']

cs_df = cs_df[~cs_df.Dept.isin(to_drop)]
depts = np.sort((cs_df.Dept).unique())
depts

array(['College of Computer, Math & Natural Sciences', 'Computer Science',
       'Ctr for Scientific Computation and Math Modeling',
       'Inst for Physical Science & Technology',
       'Inst for Research in Electronics & Applied Physics',
       'Institute for Advanced Computer Studies'], dtype=object)

In [749]:
cs_df = df_17[df_17.School == "CMNS"]
depts = np.sort((cs_df.Dept).unique())
depts

array(['Astronomy', 'Atmospheric & Oceanic Science', 'Biology',
       'Cell Biology & Molecular Genetics', 'Chemistry & Biochemistry',
       'College of Computer, Math & Natural Sciences', 'Computer Science',
       'Ctr for Scientific Computation and Math Modeling',
       'Earth System Science Interdisciplinary Center', 'Entomology',
       'Geology', 'Inst for Physical Science & Technology',
       'Inst for Research in Electronics & Applied Physics',
       'Institute for Advanced Computer Studies', 'Mathematics', 'Physics'], dtype=object)

In [750]:
cs_df.head(20)

,Name,Title,Salary,Year,School,Dept
3127,"Lipsman, Ronald L.",Prof Emeritus,2000.00,2017,CMNS,Mathematics
3012,"Walters, Barbara S.",Lecturer,7868.80,2017,CMNS,Chemistry & Biochemistry
2995,"Fuhrer, Michael Sears",Res Prof,8511.64,2017,CMNS,Inst for Research in Electronics & Applied Phy...
2895,"Collier, Brian P",Post-Doc Assoc,12535.00,2017,CMNS,Mathematics
2892,"Miller, Benjamin Hatch",Lecturer,12726.00,2017,CMNS,Astronomy
2887,"Gebremariam, Hailu Bantu",Lecturer,13395.15,2017,CMNS,Physics
2884,"Macasieb, Melissa",Visit Asst Prof,13592.00,2017,CMNS,Mathematics
2885,"Weber, Franziska",Visit Lecturer,13592.00,2017,CMNS,Mathematics
2861,"Coplan, Michael A.",Res Prof,14664.55,2017,CMNS,Physics
2855,"Xu, Jian Lun",Adjunct Prof,15000.00,2017,CMNS,Mathematics
2828,"Bruckheim, Arthur Jay",Lecturer,15854.00,2017,CMNS,Mathematics
2823,"Rudlosky, Scott D.",Lecturer,16000.00,2017,CMNS,Atmospheric & Oceanic Science
2822,"Song, Charles",Lecturer,16000.00,2017,CMNS,Computer Science
2784,"Paik, Ho Jung",Res Prof,17426.48,2017,CMNS,Physics
2762,"Bhatia, Manjit S",Adjunct Prof,18382.86,2017,CMNS,Mathematics
2750,"Wallace, James M.",Visit Prof,18910.80,2017,CMNS,Inst for Physical Science & Technology
2684,"Tzortziou, Maria A.",Assoc Res Prof,20583.66,2017,CMNS,Earth System Science Interdisciplinary Center
2638,"Drew, H Dennis",Res Prof Emeritus,23179.31,2017,CMNS,Physics
2636,"Bilandzija, Helena",Post-Doc Assoc,23517.18,2017,CMNS,Biology
2634,"Tonwar, Suresh Chandra",Lecturer,23601.89,2017,CMNS,Physics

In [751]:
df_16 = pd.read_csv("2016_data.csv")
df_16["Year"] = "2016"
df_16.dropna(axis=0, how='any',inplace=True)

df_15 = pd.read_csv("2015_data.csv")
df_15["Year"] = "2015"
df_15.dropna(axis=0, how='any',inplace=True)

df_14 = pd.read_csv("2014_data.csv")
df_14["Year"] = "2014"
df_14.dropna(axis=0, how='any',inplace=True)

df_13 = pd.read_csv("2013_data.csv")
df_13["Year"] = "2013"
df_13.dropna(axis=0, how='any',inplace=True)

<a id='hypothesis'></a>

## 6. Hypothesis Testing and Analysis

<a id='conclusion'></a>

## 7. Conclusion

<a id='future'></a>

## 8. Future Work

<a id='references'></a>

## 9. References
#### Setup
-  Github Cheat Sheet (versioning): https://services.github.com/on-demand/downloads/github-git-cheat-sheet.pdf
-  Anaconda (package management): https://docs.anaconda.com/
-  Docker (containerization): https://docs.docker.com/

#### Scraping
-  Selenium: http://www.seleniumhq.org/docs/
-  Beautiful Soup: https://www.crummy.com/software/BeautifulSoup/bs4/doc/
-  PhantomJS: http://phantomjs.org/documentation/

#### Plotting
-  Plotly: https://plot.ly/python/
-  Matplotlib: http://matplotlib.org/contents.html
-  Seaborn: https://seaborn.pydata.org/